# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# virtual env
venv/
env/
myenv/

.coverage
*.cover
*.log

.git/
.gitignore

# Docker ignore
.dockerignore


.vscode/
.idea/


# Markdown 
README.md
*.md
